-
  let prod = process.env.NODE_ENV === 'production'
  let proj_name = 'zero-project.net'
  let proj_url = 'https://www.zero-project.net'
  let copy = 2023
  let owner = 'Marco Pavan'
  //- let fbAppId = 238576103449837
  //- let googleSiteVerification = '#'
  //- let sc_project = 12345
  //- let sc_security = 'xxxxx'  

doctype html
html
  head
    block meta 
      meta(charset="utf-8")
      //- meta(name="google-site-verification" content=googleSiteVerification)
      //- meta(property="fb:app_id" content=fbAppId) -->
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(name="author" content=owner)
    link(rel="shortcut icon", href="/public/favicon.ico", type="image/x-icon")
    script. 
      if (localStorage.getItem('dark')) document.documentElement.classList.add('dark')
    if prod
        link(rel="stylesheet", type="text/css", href="/dist/main.css")
    else
        link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body(id=id)
    include ../components/shared/header/header.pug
    main
      block main
    block footer
      include ../components/shared/footer/footer.pug
      include ../components/shared/cookie_layer/cookie_layer.pug
      include ../components/shared/goto_top/goto_top.pug
    if prod
      //- div(id="fb-root")
      script(src='/dist/main.js')
      //- script(async defer crossorigin="anonymous" src=("https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v13.0&appId=" + fbAppId + "&autoLogAppEvents=1") nonce="MWhn9uhC")
      //- script.
      //-   var sc_project = #{sc_project};
      //-   var sc_invisible = 1;
      //-   var sc_security = "#{sc_security}";
      //- script(src='https://www.statcounter.com/counter/counter.js', async)
    else
      script(src='/scripts/index.js', type='module')
